@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

.cabecalho{
    width: 100%;
    background-color: wheat;
}

.cabecalho__titulo{
    color: black;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 700;
    text-align: center;
}

.cabecalho__menu{
    list-style: none;
    font-family: "Red Hat Display", sans-serif;
  
}

li{
    display: inline-block;
}